//container
$container-width: 80rem;
$container-hegiht: 32rem;
$container-bg-color: var(--bgcolor);
$container-border-radius: 2rem;
$container-shadow-color: var(--bgcolor);
$container-shadow-blur: 0.625rem;
$container-shadow-color: var(--black-rgb);
$container-shadow-opacity: 0.3;
/////////////////
/// header
$header-height: 4rem;
$header-bg-color: var(--primary);
$header-padding-y: 0.5rem;
$header-padding-x: 1.5rem;
//shape select list
$shape-select-list-gap: 3rem;
$shape-title-text-weight: 700;
$shape-title-text-size: 1.25rem;
/////////////////////
/// svg container
$svg-container-width: 40%;
$svg-container-bg-color: var(--black-rgb);
$svg-container-bg-color-opacity: 0.7;
///svg shape
$svg-width: 100%;
$svg-height: 100%;
$svg-line-color: var(--on-primary);
$svg-indicator-text-width: 3rem;
$svg-indicator-text-height: 2rem;
$svg-indicator-text-padding-y: 0;
$svg-indicator-text-padding-x: 0.5rem;
$svg-indicator-text-bg-color: var(--on-primary);
$svg-indicator-text-size: 1rem;
//rectangle indicator text
//line-a indicator text
$rectangle-indicator-text-line-a-width: 9rem;
$rectangle-indicator-text-line-a-bottom: 5.65rem;
$rectangle-indicator-text-line-a-left: 6.45rem;
//line-b indicator text
$rectangle-indicator-text-line-b-width: 8rem;
$rectangle-indicator-text-line-b-bottom: 13.25rem;
$rectangle-indicator-text-line-b-right: 3rem;
$rectangle-indicator-text-line-b-angle: -59deg;
//line-h indicator text
$rectangle-indicator-text-line-h-width: 9rem;
$rectangle-indicator-text-line-h-bottom: 9rem;
$rectangle-indicator-text-line-h-left: 9.45rem;
///////////////////////////////////////
/// form container
$form-container-width: 60%;
$form-container-padding-y: 2rem;
$form-container-padding-x: 2rem;
//input container
$input-container-height: 3rem;
$input-container-bg-color: orange;
//label
$label-width: 12rem;
$label-text-weight: 500;
$label-text-size: 1rem;
$label-text-line-height: 3rem;
//input
$input-width: 10rem;
$input-height: 1.75rem;
$input-padding-y: 0;
$input-padding-x: 0.75rem;
$input-border-width: 1px;
$input-border-radius: 7px;
$input-text-color: var(--primary);
$input-focus-border-color: var(--primary);
//unit text
$unit-text-width: 3rem;
$unit-text-height: $input-height;
$unit-text-bg-color: var(--primary);
$unit-text-padding-y: 0;
$unit-text-padding-x: 0.5rem;
$unit-text-text-size: 1rem;
$unit-text-text-line-height: $input-height;
$unit-text-text-color: var(--on-primary);
//form actions
$form-actions-width: calc($label-width + $input-width + $unit-text-width);
$form-actions-height: $input-height;
$form-actions-margin-top: $input-height;
//action buttons
$button-width: 45%;
$button-height: $input-height;
$calculate-button-bg-color: var(--primary);
